body{
  font-family:"arial";
}
header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: white;
}
.clear{
  clear:both;
}
.hide{
  display:none;
}
.show{
  display:block;
}
.left{
  float:left;
}
.right{
  float:right;
}

.container{
  width:80%;
  margin:0px auto;
}
.header__navigation ul{
  list-style-type:none;
  float:right;
  width:40%;
}
.header__navigation__item{
  float:left;
  color:#868D8E;
  list-style-type:none;
  text-decoration:none;
  padding-left:20px;
  font-size:22px;
}
#about {
    padding-top: 60px;
}

.about__image {
  width: 20%;
  float: left;
  padding-left: 41px;
  margin: 0px;
}

.about__content {
  font-size: 24px;
  width: 70%;
  color: #868D8E;
  float: left;
}
.header{
  text-align:center;
  margin-bottom: -26px;
  color: #B9E3EA; 
}

.project, .about{
  padding: 30px 30px 5px;
}
.project--right{
  float:right;
}

.project--blueg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ad5e0+0,7db9e8+100&0.5+0,0+100 */
  background: -moz-linear-gradient(top, rgba(154,213,224,0.7) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,213,224,0.5)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#809ad5e0', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.project__content{
  float:left;
  width:50%;
      padding-bottom: 20px;
}
.project__content--right {
  float: right;
}
.project__content__icons__item{
  float:left;
  font-size:12px;
}
.project__content__icons__item p{
  padding:0px 0px 20px;
  margin:0px;
}

.project__content__icons img{
  width:50%;
}

.project__content__action a{
  text-decoration:none;
  color:#646464;
  border:1px solid #646464;
  border-radius:5px;
  font-size:12px;  
  padding:4px 8px; 
}
.project__content__action a:hover{
  color:white;
  background-color:#898989;
  border:1px solid #898989;
}

.project__content__words--links-only{
  width:100%;
}

.project__content__action__item{
  float:left;
  width:30%;
  text-align: center;
}


.project__content__action a:nth-child(2) {
  margin-left: 20px;
}
.project__image{
  width:40%;
  float:left;
} 
.project__image img{
  width: 110%;
}

.resume{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#868d8e+0,000000+100&amp;1+0,0+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ad5e0+0,7db9e8+100&0.5+0,0+100 */
  background: -moz-linear-gradient(top, rgba(154,213,224,0.7) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,213,224,0.5)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#809ad5e0', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.resume-content{
  padding:30px;
  margin:0px auto;
}

.intro__header{
  margin-left:240px;
}
h4.intro__header{
  margin-top:-18px;
}

.resume img{
  width:40px;
  height:40px;
  margin-bottom: -50px;
}
.resume__skills__content, .education__content, .work-history__content {
  width: 90%;
  margin: 0px auto;
}
.skill__item {
  float: left;
  padding: 20px;
  width: 20%;
}
.skill__item__label {
  display: inline;
}
.skill__item__image {
  float: right;
  position: relative;
  top: -13px;
}
.content {
  margin-left: 53px;
}
.content__item {
  padding-top: 1px;
}
.content__item__years {
  list-style-type: none;
  width: 4.5%;
  font-size: 12px;
  position: absolute;
  left: 160px;
  margin: 18px 0px 0px;
}
.education__content {
    padding-bottom: 70px;
}
.content__item__years li:nth-child(2) {
  text-align: center;
  width: 36%;
}
footer{
  color:white;
}
.footer__connect {
  background-color: #B8E2E9;
  padding:12px;
}

.footer__connect li, a{
  list-style-type:none;
  float:left;
  margin-right:40px;
  color:white;
  text-style:none;
}
.footer__copywright {
  padding: 3px;
  background-color: #868D8E;
  margin-top: -16px;
  padding-left: 12px;
  font-size:8px;
}

#barmost{
  background-color:#21862C; 
  position:relative; 
  width:0px; 
  height:60px;
}
  
#barmedium{
  background-color:#47C755; 
  position:relative; 
  width:0px; 
  height:60px;
  left:160px;
  top: -60px;
    
}
    
#barleast{
  background-color:#8CEC97; 
  position:relative; 
  width:0px; 
  height:60px;
  left:680px;
  top: -120px;
      
}

.skills {
  float: left;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 15%;
  font-size: 1em;
  margin-right: 38px;
}
.resume__skills__list {
  margin-top: -85px;
}
.mostskill, .mediumskill, .leastskill{
  opacity:0;
}

.bar-graph__title {
  padding-bottom: 50px;
  font-size:12px;
}
.project__links a {
  margin-left: 40px;
}
h1.project__content__header {
  font-size: 30px;
  font-weight: 100;
  color: #868D8E;
  margin-top: 0px;
}
.project_video {
    position: relative;
    top: 262px;
    right: -77px;
}
.project__rg-animation .project__image {
    position: relative;
    top: -247px;
}