body{
  font-family:"arial";
}
.clear{
  clear:both;
}
.container{
  width:80%;
  margin:0px auto;
}
.header__navigation ul{
  list-style-type:none;
  float:right;
  width:30%;
}
.header__navigation__item{
  float:left;
  color:#868D8E;
  list-style-type:none;
  text-decoration:none;
  padding-left:20px;
  font-size:22px;
}
.about__image{
  float:left;
  width:40%;
}
.about__image{
  width:30%;
  float:left;
  padding:0px;
  margin:0px;
}

.about__content {
  font-size: 24px;
  width: 70%;
  color: #868D8E;
  float: left;
}
.header{
  text-align:center;
  margin-bottom: -26px;
  color:#868D8E;
}
.header-blue{
  color: #B9E3EA; 
}
.project, .about{
  padding: 30px;
}
.project--right{
  float:right;
}

.project--blueg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ad5e0+0,7db9e8+100&0.5+0,0+100 */
  background: -moz-linear-gradient(top, rgba(154,213,224,0.7) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,213,224,0.5)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(154,213,224,0.7) 0%,rgba(125,185,232,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#809ad5e0', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.project__content{
  float:left;
  width:50%;
}
.project__content--right {
  float: right;
}
.project__content__icons__item{
  float:left;
  font-size:12px;
}
.project__content__icons__item p{
  padding:0px 0px 20px;
  margin:0px;
}

.project__content__icons img{
  width:50%;
}

.project__content__action a{
  text-decoration:none;
  color:#646464;
  border:1px solid #646464;
  border-radius:5px;
  font-size:12px;  
  padding:4px 8px; 
}
.project__content__action a:hover{
  color:white;
  background-color:#898989;
  border:1px solid #898989;
}

.project__content__words--links-only{
  width:100%;
}

.project__content__action__item{
  float:left;
  width:30%;
  text-align: center;
}


.project__content__action a:nth-child(2) {
  margin-left: 20px;
}
.project__image{
  width:40%;
  float:left;
} 
.project__image img{
  width: 110%;
}

.resume{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#868d8e+0,000000+100&amp;1+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(134,141,142,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(134,141,142,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(134,141,142,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(134,141,142,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(134,141,142,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(134,141,142,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868d8e', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}